<section class="new">
  <h2><%= @outfit.name %></h2>
  <section class="index">

    <% @outfit.items.each do |item| %>
        <div>
          <%= link_to image_tag(item.image), item_path(item) %>
          <%= link_to "(x)", remove_item_outfit_path(@outfit, item_id: item.id), method: :post %>
        </div>
      <% end %>

  </section>

  <fieldset>
    <%= form_tag(add_item_outfit_path(@outfit)) do %>
      <%= select_tag(:item_id, options_for_select(Item.all.map{|i| ["#{i.description}", i.id]})) %>
      <%= submit_tag "Add Item" %>
    <% end %>
  </fieldset>
</section>
