<%= form_for @item do |f| %>
  <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@item.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
         <% @item.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
    </div>
    <% end %>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </p>
  <p>
    <%= f.label :value %>
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </p>
  <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :fabric %>
    <%= f.text_field :fabric %>
  </p>
  <p>
    <%= f.label :garment_care %>
    <%= f.text_field :garment_care %>
  </p>
  <p>
    <%= f.label :wishlist, "Add to: Closet" %>
    <%= f.radio_button :wishlist, false, :value => true %>
    <%= f.label :wishlist, "Wishlist" %>
    <%= f.radio_button :wishlist, true, :value => true %>
  <p>
    <%= f.submit%>
  </p>
  <% end %>
