<section class="indexshow">

  <%= render 'items' %>

</section>

<section class="show">

  <div class="specs">
    <%= render 'item' %>
  </div>

  <%= render 'notes/notes' %>

  <%= render 'notes/form' %>

  <%= render 'taggings/show' %>

  <%= render 'taggings/form' %>

</section>
