<!DOCTYPE html>
<html>
<head>
  <title>Aeterna</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
</head>
<body>
<a href="/">
<header>
  A<span>ETERNA</span>
</header></a>
<nav>
<li class="nav link"><%= link_to 'closet', closet_items_path %></li>
<li class="nav link"><%= link_to 'wishlist', wishlist_items_path %></li>
<li class="nav link"><%= link_to 'new item', new_item_path %></li>
<li class="nav link"><%= link_to 'outfits', outfits_path %></li>
</nav>
<% flash.each do |type, message| %>
<p class="<%= type %>"><%= message %></p>
<% end %>
<%= yield %>

</body>
</html>
