<!DOCTYPE html>
<html>
<head>
  <title>Aeterna</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/">
<header>
  aeterna
</header></a>
<nav>
<li class="nav link">about</li>
<li class="nav link"><%= link_to 'closet', items_path %></li>
<li class="nav link">wishlist</li>
<li class="nav link">archive</li>
<li class="nav link"><%= link_to 'add', new_item_path %></li>
</nav>


<%= yield %>

</body>
</html>
